* {
	margin: 0 auto 0 auto;
}

header {
		width: 100%;
		font-size: 1.3em;
		margin-left: 2em;
		margin-bottom: 2em;
}

body {	
		margin: 0 auto;
		width: 100%;
		background-color: #C0C0C0;
		font-family: Futura, sans-serif;
    	font-size: 1.3em;
		overflow-x: hidden;
		overflow-y: scroll;
}

header img {
		max-width: 18%;
		margin-top: 3em;
		margin-left: 3em;
}

h2, h3, h4, h5, h6 { color:#000000; }

h1{margin-left: 2em;}

nav{
	margin: 0 auto;
	margin-bottom: 40px;
	line-height: 40px;
	height: 40px;
	display: moz-inline-block;
	text-decoration: none;
	list-style: none;
	width:100%;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 				100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), 			color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* 				Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 	100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', 		endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

ul {
		width: 100%;
  		display: -moz-inline-block;
		text-decoration: none;
  		list-style: none;
  		margin: 0;
  		padding: 0;
}
  		
ul li{
		width: 25%;
		float: left;
		display: -moz-inline-block;
		text-decoration: none;
}

ul li a{
		text-decoration: none;
		text-align: center;
		display: inline-block;
		width: 100%;
}

p { 	
		font-size: 1em;
		font-family: arial, helvetic, sans-serif;
}
	
footer p {
		text-align: center;
		font-family: Futura, sans-serif;
		width: 100%;
}

footer {
		position: absolute;
		left: 0;
		bottom: -290px;
		height: 100 px;
		width: 100%;
}
