* {             	margin: 0;
                	padding: 0;
}

body {          	overflow: auto;
                	overflow-x: hidden;
                	border: 0px;
                	margin: 0px;
                	padding: 0px;
                	background-color: rgba(250, 250, 240, 1);
                
}

header .logo img {	margin-left: 15%;
                	margin-top: 15px;
                	float: left;
                	width: 5%;
                	height: 5%;
                	border-radius: 90px;
                	border-style: solid;
                	border-color: rgb(1, 70, 209);
                
}


header h1 {     	font-family: 'Merriweather Sans', sans-serif;
					font-size: 2.5em;
					font-weight: 800;
                	color: rgba(1, 70, 209, 1);
                	text-align: center;
                	height: 80px;
                	line-height: 80px;
                	padding: .5em 7em;
                	margin-top: 20px;
                	position: relative;
                	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

nav {           	margin: 0;
                	margin-top: 20px;
                	width: 100%;
                	height: 40px;
                	line-height: 40px;
                	font-family: 'Merriweather Sans', sans-serif;
                	font-size: 1.5em;
                	float: left;
                	list-style: none;
                	background: #1e5799; /* Old browsers */
					background: -moz-linear-gradient(top,  #1e5799 27%, #2989d8 58%, #207cca 66%, #207cca 99%, #7db9e8 99%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,#1e5799), color-stop(58%,#2989d8), color-stop(66%,#207cca), color-stop(99%,#207cca), color-stop(99%,#7db9e8)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #1e5799 27%,#2989d8 58%,#207cca 66%,#207cca 99%,#7db9e8 99%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #1e5799 27%,#2989d8 58%,#207cca 66%,#207cca 99%,#7db9e8 99%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #1e5799 27%,#2989d8 58%,#207cca 66%,#207cca 99%,#7db9e8 99%); /* IE10+ */
					background: linear-gradient(to bottom,  #1e5799 27%,#2989d8 58%,#207cca 66%,#207cca 99%,#7db9e8 99%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

nav ul {        	width: 100%;
                	display: inline-block;
                	display: -moz-inline-block;
                	display: -webkit-inline-block;
                	list-style-type: none;
                	margin: 0px;
                	padding: 0px;
}

nav ul li {     	display: inline;
                	float: left;
                	width: 20%;
                	text-align: center;
}

nav ul li a {   	font-weight: normal;
                	text-decoration: none;
                	display: inline-block;
                	color: rgb(255, 255, 255);
                	text-shadow: 1px 1px 1px rgb(0, 0, 0);
                	padding: 0px;
                	text-align: center;
}

article {       	margin: auto 0;
             		margin-top: 20%;
                	padding: 1px 1px 1px 20px 1px;
}

article h2 {    	margin: auto 0;
                	font-family: 'Merriweather Sans', sans-serif;
                	color: rgba(1, 70, 209, 1);
                	font-size: 2em;
                	text-align: center;
                	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

article h3 {    	margin-top: 10px;
                	margin-left: 10px;
                	font-family: helvetica, arial, sans-serif;
                	font-size: 1.6em;
}

.menu a {       	font-family: 'Merriweather Sans', sans-serif;
                	color: rgb(1, 70, 209);
                	text-align: center;
                	text-shadow: 1px 1px 1px rgb(0, 0, 0);
                	text-decoration: none;
}

footer {        	font-family: 'Merriweather Sans', sans-serif;
                	width: 100%;
                	line-height: 40px;
                	height: 40%;
                	margin-top: 14%;
                	margin-bottom: 8px;
                	font-size: 1.2em;
                	color: rgb(1, 70, 209);
                	text-align: center;
                	text-shadow: 1px 1px 1px rgb(0, 0, 0);
                	position: sticky;
}